@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Lato:wght@300&family=Oswald&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

body{
    font-family:EB+Garamond,sans-serif;
    font-weight: 400;
    color: rgb(245 240 202);
}

h1 , h2 {
    font-family:EB+Garamond,sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #272525;
}
#logo{
    float: left;
    font-size: 280%;
    margin-left: 30px;

}

#navigation {
    font-size: 110%;
    letter-spacing: 4px;
}
#navigation, #logo {
    line-height: 75px;
}

#navigation li {
    float: right;
    list-style-type: none;
    margin-right: 30px;

}

#navigation a {
    text-decoration: none;
    color: inherit;
}
#navigation a:hover {
    border-bottom: 1px solid #65773b;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}


#hero-outer{
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2 {
    color:#233e61;
}

#hero-image {
    height: 700px;
    width: 100%;
    background:url(../images/pexels-snapwire-349727.jpg) no-repeat center center;
}

#cover-text {
    font-size: 130%;
    font-family: EB+Garamond, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 500px;
    height: 400px;
    padding-top: 25px;
    padding-left: 15px;
    right: 90px;
    position: absolute;
    top: 150px;
}